{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    {#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"#}
    {#          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">#}

    {#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>#}
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>#}
    {#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>#}
    {#    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"#}
    {#            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"#}
    {#            crossorigin="anonymous"></script>#}
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"#}
    {#            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"#}
    {#            crossorigin="anonymous"></script>#}
    {#    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"#}
    {#            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"#}
    {#            crossorigin="anonymous"></script>#}
    {##}
    {##}
    {##}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">


    <a class="navbar-brand" href="#">Todo</a>

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'todoapp:ListView' %}">List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'todoapp:CreateView' %}">Add</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'todoapp:TodayView' %}">Today</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'todoapp:SearchView' %}">Search</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Done</a>
        </li>
        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Tags
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'todoapp:TagListView' %}">Tags List</a>
                <a class="dropdown-item" href="{% url 'todoapp:TagCreateView' %}">Create Tag</a>
            </div>
        </li>
    </ul>
    {% block nav %}
    {% endblock %}

</nav>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="mt-2">Todo App</h1>
            <hr class="mt-0 mb-4">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <footer class="text-center text-white" style="background-color: #f1f1f1;">
        <div class="container pt-4">
            <section class="mb-4">
                <a
                        class="btn btn-link btn-floating btn-lg text-dark m-1"
                        href="https://twitter.com/thatsmostafa"
                        role="button"
                        data-mdb-ripple-color="dark"
                ><i class="fab fa-twitter"></i
                ></a>
                <a
                        class="btn btn-link btn-floating btn-lg text-dark m-1"
                        href="mailto:mostafa.programming@gmail.com"
                        role="button"
                        data-mdb-ripple-color="dark"
                ><i class="fab fa-google"></i
                ></a>
                <a
                        class="btn btn-link btn-floating btn-lg text-dark m-1"
                        href="https://instagram.com/mostafa.abdi2019"
                        role="button"
                        data-mdb-ripple-color="dark"
                ><i class="fab fa-instagram"></i
                ></a>
                <a
                        class="btn btn-link btn-floating btn-lg text-dark m-1"
                        href="https://www.linkedin.com/in/mostafa-a-b62337117/"
                        role="button"
                        data-mdb-ripple-color="dark"
                ><i class="fab fa-linkedin"></i
                ></a>
                <a
                        class="btn btn-link btn-floating btn-lg text-dark m-1"
                        href="https://gitlab.com/mostafaabdi/"
                        role="button"
                        data-mdb-ripple-color="dark"
                ><i class="fab fa-gitlab"></i
                ></a>
            </section>
        </div>
        <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:
            <a class="text-dark" href="https://mostafaabdi.com/">mostafaabdi.com</a>
        </div>
    </footer>
</div>
</body>
</html>
