{% extends 'todoapp/base.html' %}
{% load filters %}
{% block content %}

    <h2>List of your tags</h2>
    <ul>

        <table class="table table-light table-hover overflow-auto">
            <thead>
            <tr>
                <th>Title</th>
                <th>Related Tasks</th>
            </tr>
            </thead>
            <tbody>
            <input class="form-control" id="myInput" type="text" placeholder="Search..">
            {% for tag in tags %}
                <tr id="myTable">
                    <td>
                        <a href="{% url 'todoapp:TagUpdateView' tag.id %}" data-toggle="tooltip"
                           title="click to edit tag">#{{ tag }}</a>
                    </td>
                    <td>
                        {% for i in  related_tasks|get_value_from_dict:tag.id %}
                           [ {{ i }} ]
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </ul>


    {#   start script for tooltip#}
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    {#   end script for tooltip#}


    {#   start script for filter#}
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable td").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    {#   end script for filter#}

    {#    pagination#}
    {% if page_obj.has_other_pages %}
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link"
                                         href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% else %}
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="page-item active"><a class="page-link" href="#">{{ i }} </a></li>
                {% else %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link"
                                         href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
            {% else %}
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            {% endif %}
        </ul>
    {% endif %}
    {#    end pagination#}
{% endblock %}