{% extends 'todoapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h2>Update tag: {{ object }}</h2>
    <form method="post">
        {% csrf_token %}
        {% crispy form %}
    </form>
    <a href="{% url 'todoapp:TagDeleteView' object.id %}"><button class="btn btn-danger">Delete</button></a>
{% endblock %}