{% extends 'todoapp/base.html' %}
{% block nav %}
{% endblock %}
{% block content %}
    <div class="container">
        <h2>Today todo list</h2>
        <ul>
            {% for todo in page_obj %}
                <div class="container">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-header">
                                {% if todo.is_done %}
                                    <div class="bg-success">
                                        done: Yes
                                    </div>
                                {% else %}
                                    <div class="bg-warning">
                                        done: No
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                title: <a href="{% url 'todoapp:DetailView' todo.id %}">{{ todo.title }}</a>
                            </div>
                            <div class="card-text">
                                description: {{ todo.description }}
                            </div>
                            <div class="card-footer">
                                due date: {{ todo.due_date }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </ul>
        {% if page_obj.has_other_pages %}
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active"><a class="page-link" href="#">{{ i }} </a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
{% endblock %}