{% extends 'todoapp/base.html' %}
{% block content %}
    <h2>Search In Tasks</h2>
    <form method="GET">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="search" placeholder="Search">
            <div class="input-group-append">
                <button class="btn btn-success" type="submit">Go</button>
            </div>
        </div>
    </form>
    {% if tags %}
        {% for tag in tags %}
            <a href="{% url 'todoapp:TagsFilterView' tag%}"><div class=" badge badge-primary">#{{ tag }}</div></a>
        {% endfor %}
    {% endif %}
    <ul>
        {% for todo in page_obj %}
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        <div class="card-header">
                            {% if todo.is_done %}
                                <div class="bg-success">
                                    done: Yes
                                </div>
                            {% else %}
                                <div class="bg-warning">
                                    done: No
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            title: <a href="{% url 'todoapp:DetailView' todo.id %}">{{ todo.title }}</a>
                        </div>
                        <div class="card-text">
                            description: {{ todo.description }}
                        </div>
                        <div class="card-footer">
                            {% if todo.is_expired and not todo.is_done %}
                                <div style="color: red"> due date: {{ todo.due_date }}</div>
                            {% else %}
                                due date: {{ todo.due_date }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </ul>
    {#    pagination#}
    {% if page_obj.has_other_pages %}
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link"
                                         href="?search={{ request.GET.search }}&page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% else %}
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="page-item active"><a class="page-link" href="#">{{ i }} </a></li>
                {% else %}
                    <li class="page-item"><a class="page-link"
                                             href="?search={{ request.GET.search }}&page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link"
                                         href="?search={{ request.GET.search }}&page={{ page_obj.next_page_number }}">Next</a>
                </li>
            {% else %}
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            {% endif %}
        </ul>
    {% endif %}
    {#    end of pagination#}
{% endblock %}