{% extends 'todoapp/base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div style="background-color:{{ object.color }};width: 2.33%"></div>
            <div class="col" style="background-color:lavender;"><h1>{{ object.title }}</h1></div>
        </div>
        <div class="row">
            <div style="background-color:{{ object.color }};width: 2.33%"></div>
            <div class="col" style="background-color:lavender;">description: {{ object.description }}</div>
        </div>
        <div class="row">
            <div style="background-color:{{ object.color }};width: 2.33%"></div>
            <div class="col" style="background-color:lavender;">priority: {{ object.priority }}</div>
        </div>
        <div class="row">
            <div style="background-color:{{ object.color }};width: 2.33%"></div>
            <div class="col" style="background-color:lavender;">done: {{ object.is_done }}</div>
        </div>
        <div class="row">
            <div style="background-color:{{ object.color }};width: 2.33%"></div>
            <div class="col" style="background-color:lavender;">due date: {{ object.due_date }}</div>
        </div>
        <div class="row">
            <div style="background-color:{{ object.color }};width: 2.33%"></div>
            <div class="col" style="background-color:lavender;">tags:{% for tag in object.tags.all %}
                <a class=" badge badge-primary" href="{% url 'todoapp:TagsFilterView' tag %}">
                    #{{ tag }}
                </a>
                &nbsp;{% endfor %}
            </div>
        </div>
        <a href="{% url 'todoapp:UpdateView' object.id %}"><span class="badge badge-warning">Update Item</span></a>
        <a href="{% url 'todoapp:DeleteView' object.id %}"><span class="badge badge-danger">Delete Item</span></a>
    </div>
{% endblock %}
