{% extends 'todoapp/base.html' %}
{% block content %}
    <h2>List of your todo</h2>
    <ul>
        <table class="table table-light table-hover overflow-auto">
            <thead>
            <tr>
                <th>title</th>
                <th>description</th>
                <th>due date</th>
                <th style="width: 1.33%;"></th>
            </tr>
            </thead>
            <tbody>
            {% for todo in object_list %}
                <tr>
                    {% if todo.is_done %}
                        <td>
                            <del><a href="{% url 'todoapp:DetailView' todo.id %}">{{ todo.title }}</a></del>
                        </td>
                    {% else %}
                        <td><a href="{% url 'todoapp:DetailView' todo.id %}">{{ todo.title }}</a></td>
                    {% endif %}
                    {% if todo.is_done %}
                        <td>
                            <del>{{ todo.description }}</del>
                        </td>
                    {% else %}
                        <td>{{ todo.description }}</td>
                    {% endif %}
                    {% if todo.is_expired and not todo.is_done%}
                        <td style="color: red">{{ todo.due_date }}</td>
                    {% else %}
                        <td>{{ todo.due_date }}</td>
                    {% endif %}
                    <td style="background-color:{{ todo.color }};width: 1.33%;"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </ul>

{#    pagination#}
    {% if page_obj.has_other_pages %}
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link"
                                         href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% else %}
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="page-item active"><a class="page-link" href="#">{{ i }} </a></li>
                {% else %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link"
                                         href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
            {% else %}
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            {% endif %}
        </ul>
    {% endif %}
{#    end pagination#}
{% endblock %}